on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: deploy_functions

jobs:
  deploy_functions:
    runs-on: ubuntu-latest

    steps:
      - uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get git diff
        id: git_diff
        shell: bash
        run: |
          echo ::set-output name=diff::$(git diff --name-only --diff-filter=AMDR @~..@ | grep "/" | cut -d"/" -f1 | uniq)

      - name: gcloud_builds
        shell: bash
        run: |
          for i in $(echo ${{ steps.git_diff.outputs.diff }}); do
            if [[ "$i" == ".github"]]
              continue
            fi
            cd $i
                gcloud builds submit
            cd ..
          done
